body {
    background-color: #70b0e0;
}

.header {
    display: block;
    background-color: black;
    color: white;

}

.form-control {
    height: 100px !important;
}

.error {
    color: rgba(255, 0, 0, 0.466);
    font-weight: 700;
    font-size: 20px;
}