<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Regex Query Tool</title>
</head>
<body>
    <div class="container">

        <h1 class="mt-4 d-flex flex-column align-items-center">Regex query tool</h1>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-floating my-5">
                <textarea name="text" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Insert text here</label>
            </div>
    
            <div class="form-floating">
                <textarea name="regex_text" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Regex here</label>
            </div>

            <p class="text-center mt-4">
                <button type="submit" class="btn btn-info">Check</button>
            </p>

        </form>

        
    
    </div>
</body>
</html>